body{
    position: relative;
}

.main-container{
    display: block;
    position: absolute;
    margin-left: 480px;
    margin-top: 50px;
    height: 500px;
    border: 1px solid black;
    border-radius: 20px;
}

input{
    height: 50px;
    border-radius: 50px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
}

label{
    margin-left: 5px;
    margin-right: 5px;
}

.btn{
    margin-left: 40%;
    margin-top: 7%;
    margin-bottom: 5%;
}


  .input-container input {
    width: 100%;
    padding: 10px;
    padding-right: 40px; /* Adjusted padding for icon space */
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .visibility-icon {
    position: absolute;
    top: 59%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
  }